section.action-block 
    .container 
        .action-title 
            .title Узнавай больше
            i.fa.fa-exchange 
            .title Учись быстрее
        .action-content
            .advantage
                .advantage-title После подписки вы получаете:
                ul.advantage-list 
                    li.list-item 
                        i.fas.fa-angle-right
                        span.description Все самое важное на 12-15 страницах
                    li.list-item 
                        i.fas.fa-angle-right
                        span.description Книги опытных христианских руководителей
                    li.list-item 
                        i.fas.fa-angle-right
                        span.description Христианские и светские авторы
                    li.list-item 
                        i.fas.fa-angle-right
                        span.description 24 книги в год
            .gallary
                a.gallary-img(
                    data-fancybox
                    data-caption="example-01"
                    href="img/prev-tab-mob.webp"
                )
                    img.prev-img(
                        src="img/prev-tab-mob.webp", 
                        alt="prev mob and tab"
                        )
        .action-button        
            .btn.btn-violet
                a(href="#") 
                    span Оформите подписку
