section.advantage
    .container
        .advantage__title
            i(aria-hidden="true").fa.fa-book 
            h2 Будь лидером, оказывающий влияние
        .advantage__description
            span.circle-sketch-highlight ГлавИдея
            p предоставляет вам доступ к сжатым версиям лучших книг по лидерству, менеджменту и жизни церкви. Эти книги помогут вам:
        .advantage__list
            ul.studyfeaturelist
                li.studyfeaturelist-item.cf
                    .studyfeaturelist-icon
                        i(aria-hidden="true").fa.fa-users
                    .studyfeaturelist-detail
                        div
                            h4.studyfeaturelist-title Стать эффективным лидером
                li.studyfeaturelist-item.cf
                    .studyfeaturelist-icon
                        i(aria-hidden="true").fa.fa-lightbulb
                    .studyfeaturelist-detail
                        div
                            h4.studyfeaturelist-title Обдуманно действовать, сталкиваясь со сложными ситуациями
                li.studyfeaturelist-item.cf
                    .studyfeaturelist-icon
                        i(aria-hidden="true").fa.fa-thumbs-up
                    .studyfeaturelist-detail
                        div
                            h4.studyfeaturelist-title Чувствовать уверенность
                li.studyfeaturelist-item.cf
                    .studyfeaturelist-icon
                        i(aria-hidden="true").fa.fa-clock
                    .studyfeaturelist-detail
                        div
                            h4.studyfeaturelist-title Получать знания о лидерстве, уделяя обучению намного меньше времени
        .advantage__btn
            .btn.btn-violet
                a(href="#") 
                    span Попробуйте бесплатно