section.promo
    .overline__bg
    .container
        .promo__title
            p Сжатые версии лучших книг для христианских лидеров
            span 
        .promo__description
            h1 Узнавай больше. Учись быстрее. Руководи лучше.

        .promo__btn
            .btn.btn-violet
                a(href="#") 
                    span Попробуйте бесплатно