include ../pug-parts/header/header.pug

include ../pug-parts/index/promo/promo.pug

include ../pug-parts/index/advantage/advantage.pug

include ../pug-parts/index/action/action.pug

include ../pug-parts/footer/footer.pug
