header
    .container
        section.header 
            .header-logo
                a(href="#") 
                    img(src="../img/logo.webp", alt="GlavIdea")
            nav.header-nav
                ul.header-menu
                    li.menu-item
                        a.item-link(href="#") Главная
                    li.menu-item
                        a.item-link#dropdown-btn.dropdown-btn(href="#") Узнать больше
                        ul.menu-submenu
                            li.submenu-item 
                                a.item-link(href="#") Узнать больше
                            li.submenu-item 
                                a.item-link(href="#") О нас
                            li.submenu-item 
                                a.item-link(href="#") Бесплатный экземпляр
                    li.menu-item 
                        a.item-link(href="#") Часто задаваемые вопросы
                    li.menu-item 
                        a.item-link(href="#") Контакты
                .menu-btn
                    span 
                    span 
                    span 
            .header-btns
                .btn.btn-violet
                    a(href="#") 
                        span Подпишитесь
                .btn.btn-blue
                    a(href="#") 
                        span Войти
