section.header
    .container
        .logo
            img(src="../img/logo.svg", alt="ГлавИдея").logo-img
        ul.nav-list
            li.nav-item
                a(href="#").nav-link О нас
            li.nav-item
                a(href="#").nav-link Узнать больше
            li.nav-item
                a(href="#").nav-link Часто задаваемые вопросы
            li.nav-item
                a(href="#").nav-link Контакты
        ul.header-btns
            li.btn
                a(href="#").btn-link Подписка
            li.btn
                a(href="#").btn-link Войти
        .burger
            span