section.action-block 
    .container 
        .action-title 
            .title Узнавай больше
            i.fa.fa-exchange 
            .title Учись быстрее
        .action-content
            .advantage
                .title После подписки вы получаете:
                ul.advantage-list 
                    li.list-item 
                        i.fas.fa-angle-right
                        span.description