section.header {
    width: 100%;
    .container {
        position: relative;
        width: 100%;
        max-width: 93.8em;
        display: flex;
        margin: 0 auto;
        @media screen and (max-width: 865px) {
            max-width: 54.8em;
        }
        .logo {
            padding: 0.8em 0 0 0;
            @media screen and (max-width: 865px) {
                padding: 0.8em 0 0 0.4em;
            }
            .logo-img {
                width: 6.3em;
            }
        }
        ul.nav-list {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            left: 19em;
            @media screen and (max-width: 865px) {
                flex-direction: column;
                align-items: flex-end;
                position: fixed;
                width: 39vw;
                height: 22vh;
                background-color: #ccc;
                // left: 61vw;
                left: 100vw;
                top: 11vh;
                transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            @media screen and (max-width: 637px) {
                flex-direction: column;
                align-items: flex-end;
                position: fixed;
                width: 59vw;
                height: 18vh;
                background-color: #ccc;
                // left: 41vw;
                left: 100vw;
                top: 11vh;
                transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            li.nav-item {
                padding: 1em 2.5em 0 0;
                a.nav-link {
                    font-family: 'PT Sans';
                    font-weight: 700;
                    line-height: 1;
                    font-size: 1.42em;
                    letter-spacing: 0.027em;
                    color: $grey;
                    transition: all 0.2s linear;
                    @media screen and (max-width: 637px) {
                        font-size: 1.12em;
                    }
                    &:hover {
                        color: $violet;
                    }
                }
            }
        }
        ul.nav-list.animate {
            @media screen and (max-width: 865px) {
                left: 61vw;
            }
            @media screen and (max-width: 637px) {
                left: 41vw;
            }
        }
        ul.header-btns {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            left: 14.2em;
            padding: 0.8em 0 0 0;
            @media screen and (max-width: 637px) {
                left: -5.8em;
                padding-top: 1.3em;
            }
            li.btn {
                position: relative;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                height: 3.5em;
                border-radius: 30px;
                transition: all 0.3s ease-in-out;
                @media screen and (max-width: 637px) {
                    height: 3em;
                }
                &:hover {
                    transform: scale(1.1);
                }
                a.btn-link {
                    color: $white;
                    font-family: 'PT Sans';
                    font-weight: 700;
                    line-height: 1;
                    font-size: 1.5em;
                    @media screen and (max-width: 637px) {
                        font-size: 1.1em;
                    }
                }
                &:first-child {
                    background-color: $blue;
                    width: 10.2em;
                    left: 5.9em;
                    box-shadow: 0px 5px 5px 0 #34a8e738;
                    @media screen and (max-width: 637px) {
                        width: 7.4em;
                        left: 7.5em;
                    }
                }
                &:last-child {
                    background-color: $violet;
                    width: 7.9em;
                    left: 8.7em;
                    box-shadow: 0px 5px 5px 0 #7B34E738;
                    @media screen and (max-width: 637px) {
                        width: 6em;
                        left: 8.4em;
                    }
                }
            }
        }
        .burger {
            display: none;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 4.3em;
            height: 50px;
            cursor: pointer;
            @media screen and (max-width: 865px) {
                display: block;
            }
            span {
                top: 20px;
                &::before {
                    content: "";
                    top: -1.2em;
                    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
                &::after {
                    content: "";
                    bottom: -1.2em;
                    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
            }
            span,
            span::before,
            span::after {
                width: 100%;
                position: absolute;
                height: 0.6em;
                background: $grey;
                display: block;
                transition: .3s;
                border-radius: 5px;
            }
            span.active {
                background: rgba(255, 255, 255, 0);
                &::before {
                    content: "";
                    top: 0px;
                    transform: rotate(45deg);
                    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
                &::after {
                    content: "";
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }
        }
    }
}